.horario {
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 5px;
    font-weight: bold;
  }

  .horario > div {
    padding: 5px;
    text-align: center;
  }

  .horario > .hora {
    grid-row: span 2;
  }

  .horario > .materia {
    grid-row: span 2;
  }